h1, h3
{
    text-align:center;
}
h3
{
    background-color: #fff;
    color: #000;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    margin-top:0px;
    border: 1px solid #fff;
    padding: 5px;
    text-align: justify;
    color: #fff;
}
.news
{
    width:30%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

.sous_titre {
    position: relative;
    left: 32%;
}

.font-weight-100 {
    font-weight: 100;
}

.line_height {
    line-height: 30px;
}

.comment {
    display: block;
    text-align: right;
    margin-top: 10px;
}

.comment_content {
    display: none;
}

.write_comment:hover + .comment_content {
    display: block;
}