h1, h3 {
    text-align:center;
}
h2 {
    position: relative;
    left: 32%;
    font-size: 1em;
    font-weight: 100;
}
h3 {
    background-color: #fff;
    color: #000;
    font-size:0.9em;
    margin-bottom:0px;
}
.news {
    width:30%;
    margin:auto;
}
.news p {
    margin-top:0px;
    border: 1px solid #fff;
    padding: 5px;
    text-align: justify;
    color: #fff;
}
a {
    text-decoration: none;
    color: blue;
}
.comments {
    /* width: 30%;
    position: relative;
    left: 35%; */
    border-top: 1px solid #fff;
    line-height: 1.2em;
}

.comment_link {
    display: block;
    text-align: right;
    margin-top: 10px;
}
.comment_date {
    font-size: 0.8em;
}
.date {
    font-style: italic;
}