body {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;
}
legend {
    border: solid 2px black;
    background-color: rgb(187, 187, 184);
    text-align: center;
    font-size: 50px;
    font-family: serif;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    height: 600px;
    background-color: rgba(194, 194, 191, 0.5);
    padding-left: 50px;
    padding-right: 50px;
}
.section1 {
    height: 500px;
    width: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    border: solid 1px blue;
    background-color: rgba(245, 245, 238, 0.5);
    margin-right: 25px;
}
.section2 {
    height: 500px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    border: solid 1px blue;
    background-color: rgba(245, 245, 238, 0.5);
    margin-left: 25px;
}
p {
    border: solid 1px red;
    background-color: rgb(240, 230, 140, 0.5);
    color: rgb(54, 173, 94);
    font-weight: bold;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 70px;
    width: 70px;
}
.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 75px;
    width: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#box1 {
    order: 1;
}
#box4 {
    order: 2;
}
#box3 {
    order: 3;
}
