section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    margin-top: 30px;
}
legend {
    text-align: center;
}
#form {
    display: flex;
    justify-content: center;
}
input {
    cursor: pointer;
}
#visitorName {
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid rgba(0, 0, 200, 0.4);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 200, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}
#visitorName:hover {
    background: rgba(0, 0, 200, 0.4);
}
nav {
    margin-top: 100px;
}