.box {
    position: relative;
    left: 25vw;
    width: 50vw;
    height: 75vh;
    margin-bottom: 50px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
}
.subbox {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box1 {
    grid-area: 5/2/7/10;
    /* grid-column: 2/10; */
    /* grid-column-start: 2;
    grid-column-end: 10; */
    /* grid-row: 5/7; */
    /* grid-row-start: 5;
    grid-row-end: 7; */
    background-color: #ff0c;
    z-index: 2;
}
#box2 {
    grid-area: 2/7/10/8;
    background-color: #0f0;
    z-index: 1;
}