* {
    box-sizing: border-box;
  }
  
  .box {
    display: block;
    width: 1550px;
    height: 1300px;
    background: red;
    color: white;
    position: relative;
  }

  
  #three {
    position: absolute;
    display: none;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: blue;
  }
  #one {
    /* display: none; */
    background-image: url(/assets/img/Mira.png);
    background-repeat: no-repeat;
    /* background-position: top; */
    background-size: cover;
  }
  #two {
    display: none;
  }
  #four {
    display: none;
  }

