* {
    box-sizing: border-box;
}
body {
    font-family: 'Vollkorn';
    background: black url(/assets/img/library.jpg) repeat;
    color: white;
}
a {
    color: #ccc;
}
a.log {
    color: #fff;
}
a:link {
    text-decoration: none;
}
a:active {
    color: #aaa;
}
a:hover {
    color: #aaa;
}
.welcome {
    position: fixed;
    color: #fff;
    left: 5px;
    top: 5px;
}
.welcome:hover {
    color: #ccc;
}
.log_out {
    position: fixed;
    color: #fff;
    left: 5px;
    top: 25px;
}
.log_out:hover {
    color: #ccc;
}
nav {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end   ;
}
nav a {
    color: white;
}
nav a:hover {
    color: #ccc;
}
/* nav a[title="User"] {
    background: linear-gradient(red, orange);            
}
.log {
    background: linear-gradient(green, rgb(224, 224, 42));
} */