* {
    box-sizing: border-box;
}
html {
    background-color: cornsilk;
}
a {
    color: blue;
}
a:link {
    text-decoration: none;
}
a:active {
    color: red;
}
a:hover {
    color: red;
}
.count {
    position: fixed;
    left: 5px;
    top: 5px;
}
.welcome {
    position: fixed;
    left: 5px;
    top: 25px;
}