#sun_rise_animation {
    display: flex;
    justify-content: center;
}
@keyframes sky-animation {
    0% {
      background:linear-gradient(#88889c, #0d0d79);
    }
    30% {
      background: linear-gradient(orange, 70%, red);
    }
    40% {
      background:linear-gradient(blue, 20%, skyblue);
    }
    95% {
      background-color: skyblue;
      }
    100% {
      background-color: skyblue;
    }
  }
#sky {
    width: 700px;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: sky-animation;
    animation-duration: 20s;
    transition-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
@keyframes sea-animation {
    20% {
        background: linear-gradient(seagreen, #0d0d79);
    }
    100% {
        background: linear-gradient(skyblue, seagreen);
    }
    } 
#sea {
    width: 100%;
    height: 30%;
    position: relative;
    top: 50%;
    background: linear-gradient(rgb(10, 5, 105), 20%, rgb(1, 2, 20));
}
@keyframes sun-animation {
    100% {
        transform: translateY(-350px);
    }
}  
#sun {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: radial-gradient(orange 30%, rgb(206, 193, 7));
    box-shadow: 10px, 10px;
    position: relative;
    top: 80%;
    animation-name: sun-animation;
    animation-duration: 15s;
    animation-direction: normal;
    animation-fill-mode: forwards;
} 