* {
    box-sizing: border-box;
    /* border: 1px solid #fff; */
}
body {
    font-family: 'Vollkorn';
    background-image: url(/public/assets/img/library.jpg);
    background-attachment: fixed;
    color: #fff;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}
header div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
footer nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
a {
    text-decoration: none;
}
a, a:visited {
    color: #fff;
}
a:hover {
    border-bottom: 2px solid #fff;
}
#welcome {
    margin: 0;
}
@media screen and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
    main {
        padding: 0 1em;
        order: 1;
    }
    footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
    }
    footer a {
        padding: 0 1em 0 1em;
    }
    header {
        padding: 0 1em;
    }
    footer, header {
        background-color: #000c;
    }
    footer a:nth-child(even) {
        background-color: #5555;
    }
    a:hover {
        border-bottom: none;
    }
    .responsive_hidden {
        display: none;
    }
}

/* -----------------------------------------------
Portfolio
----------------------------------------------- */

.portfolio {
    letter-spacing: 0.01em;
    text-align: justify;
    line-height: 1.7em;
    text-indent: 2em;
    padding: 1em 20em 1em;
}
@media screen and (max-width: 1024px) {
    .portfolio {
        padding: 0 1em;
        order: 1;
    }
}

/* -----------------------------------------------
Blog
----------------------------------------------- */

.blog {
    width: 40%;
    margin: auto;
}
@media screen and (max-width: 1024px) {
    .blog {
        width: 90%;
    }
}
.blog p {
    margin-top: 0;
    border: 1px solid #fff;
    padding: .3em;
    text-align: justify;
    color: #fff;
}
.blog h1, h3 {
    text-align:center;
}
.blog h2 {
    font-size: 1.2em;
    font-weight: 100;
}
.blog h3 {
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    margin-bottom: 0;
}
.blog p > a {
    text-decoration: none;
    display: inline-block;
    border-bottom: none;
    text-align: right;
}
.add_comment {
    opacity: 0;
    transition-duration: 2s;
}
.comment_content {
    background: #ddd2;
}
.add_comment form {
    width: 100%;
}
.blog a:hover {
    border: none;
}
.blog :target {
    opacity: 1;
}
.add_comment form > * {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.add_comment form > input {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
}
.add_comment textarea::placeholder {
    color: #fff;
}
.add_comment input[name=comment_author]::placeholder {
    color: #000;
    font-weight: bold;
}
.comments {
    line-height: 1.2em;
}
.comment_date {
    font-size: 0.8em;
}
.date {
    font-style: italic;
}
.comments p {
    border: none;
}
.comment_link {
    margin-top: .5em;
}

/* -----------------------------------------------
Chat
----------------------------------------------- */

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.chat form {
    width: 30%;
}
.chat input {
    background: #fff;
    font-weight: bold;
}
.chat textarea {
    background-color: transparent;
    color: #fff;
}
.chat textarea::placeholder {
    color: #fff;
}
.chat #pseudo {
    margin-top: 1em;
}
.chat #send {
    margin-bottom: 1em;
}
textarea {
    margin-top: 1em;
}
.chat section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin: auto;
}
@media screen and (max-width: 1024px) {
    .chat {
        padding: 0;
    }
    .chat form, .chat section {
        width: 80%;
    }
    .chat p {
        width: 100%;
    }
}
.pseudo {
    margin-top: 1em;
    padding-top: 1em;
}
.datetime_message {
    font-size: 0.8em;
}
.content_message {
    background: #ddd2;
}
.chat p {
    margin: 0;
    word-wrap: break-word;
}
/* -----------------------------------------------
Sun rise
----------------------------------------------- */

#sun_rise_animation {
    display: flex;
    justify-content: center;
}
@keyframes sky-animation {
    0% {
      background:linear-gradient(#88889c, #0d0d79);
    }
    30% {
      background: linear-gradient(orange, 70%, red);
    }
    40% {
      background:linear-gradient(blue, 20%, skyblue);
    }
    70% {
      background-color: skyblue;
    }
    100% {
      background-color: skyblue;
    }
  }
#sky {
    width: 700px;
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: sky-animation;
    animation-duration: 15s;
    transition-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
@keyframes sea-animation {
    100% {
        background: royalblue;
      }
    } 
#sea {
    width: 100%;
    height: 30%;
    position: relative;
    top: 50%;
    background: linear-gradient(rgb(10, 5, 105), 20%, rgb(1, 2, 20));
    animation-name: sea-animation;
    animation-direction: 15s;

}
@keyframes sun-animation {
    100% {
        transform: translateY(-370px);
    }
}  
#sun {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: radial-gradient(orange 30%, rgb(206, 193, 7));
    box-shadow: 10px, 10px;
    position: relative;
    top: 80%;
    animation-name: sun-animation;
    animation-duration: 15s;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

/* -----------------------------------------------
Breakout game
----------------------------------------------- */

canvas {
    background: #000;
    display: block;
    margin: 20px auto;
}

/* -----------------------------------------------
SQL, log in, sign up forms
----------------------------------------------- */

.sql_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sql_form input:nth-last-child(n+2), .log_in_form input:nth-last-child(n+2), .sign_up_form input:nth-last-child(n+2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 0.5em;
}
.sql_form input:nth-last-child(n+2)::placeholder, .log_in_form input:nth-last-child(n+2)::placeholder, .sign_up_form input:nth-last-child(n+2)::placeholder {
    color: #fffd;
}
.sql_form input:last-of-type, .log_in_form input:last-of-type, .sign_up_form input:last-of-type {
    font-weight: bold;
    margin-top: 1em;
}
form, #explore_database_link {
    display: flex;
    flex-direction: column;
    width: 20%;
}
#explore_database_link:hover {
    border-bottom: none;
}
.log_in_form_section, .sign_up_form_section {
    width: 100%;
}
.log_in_form_section > *, .sign_up_form_section > * {
    margin-left: auto;
    margin-right: auto;
}
#explore_database {
    margin-top: 0;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5em;
}
input {
    text-align: center;
    margin-top: .3em;
}
@media screen and (max-width: 1024px) {
    form, #explore_database_link {
        width: 70%;
    }
}

/* -----------------------------------------------
Profile page
----------------------------------------------- */

.profile_page {
    text-align: center;
}

/* -----------------------------------------------
SQL table
----------------------------------------------- */

.sql {
    margin: auto;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
td, th {
    text-align: left;
    padding: 0.5em;
}
@media screen and (max-width: 1024px) {
    td, th {
        font-size: .8em;
        padding: .5%;
    }
}
tr:nth-child(even) {
    background-color: #2229;
}
#delete_button {
    margin-left: .5em;
    margin-right: .5em;
}