$brown: rgb(242, 224, 175);
$pink: rgb(202, 167, 240);


$theme-colors: (
    'primary':$pink,
    'toto' :$brown
    );
    
$jumbotron-color:$brown;
$nav-pills-link-active-color:$brown;

@import './scss/bootstrap.scss';